.privacy-container {
  padding: 40px;
}

.privacy-header {
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
  color: rgb(29, 62, 61);
}

.privacy-terms h3 {
  font-size: 25px;
  color: rgb(29, 62, 61);
}

.privacy-terms span {
  font-size: 20px;
  color: rgba(29, 62, 61, 1);
}

.privacy-terms {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.privacy-customer h3 {
  font-size: 25px;
  color: rgb(29, 62, 61);
}

.privacy-customer span {
  font-size: 20px;
  color: rgba(29, 62, 61, 1);
}

.privacy-customer {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.privacy-safety h3 {
  font-size: 25px;
  color: rgb(29, 62, 61);
}

.privacy-safety span {
  font-size: 20px;
  color: rgba(29, 62, 61, 1);
}

.privacy-safety {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.privacy-public h3 {
  font-size: 25px;
  color: rgb(29, 62, 61);
}

.privacy-public span {
  font-size: 20px;
  color: rgba(29, 62, 61, 1);
}

.privacy-public {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.privacy-info h3 {
  font-size: 25px;
  color: rgb(29, 62, 61);
}

.privacy-info span {
  font-size: 20px;
  color: rgba(29, 62, 61, 1);
}

.privacy-info {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.privacy-legal h3 {
  font-size: 25px;
  color: rgb(29, 62, 61);
}

.privacy-legal ul {
  font-size: 20px;
  color: rgb(29, 62, 61);
}

.privacy-legal {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
