.bg-container {
  width: 100vw;
  height: 500px;
  background-image: url("../../assets/B\ g.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.bg-text {
  color: white;
}

.bg-text h3 {
  font-size: 2rem;
}

.bg-text p {
  font-size: 1rem;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
